{% extends "base.html" %}
{% load static %}

{% block container %}

{% include "administracion/hero.html" %}

<!-- Título Principal -->
    <h3 class="text-center h1 mb-5 color-texto">Ha olvidado su contraseña</h3>

    <div class="d-flex justify-content-center mt-5 mb-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 d-none d-md-block">
                    <img src="{% static 'img/password-error.png' %}" class="img-fluid d-block w-100 rounded-start" alt="Dibujo de olvido password">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-body">
                        <h5 class="card-title color-texto">Formulario de cambio de contraseña</h5>
                        <p class="card-text">Ingrese su nueva contraseña.</p>
                        <form class="mt-5" method="post" id="resetPassword">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label">{{ field.label_tag }}</label>
                            </div>
                            <div class="mb-3">
                                {{ field }}                           
                            </div>
                                {% if field.errors %}
                                    <small>{{ field.errors|striptags  }}</small> 
                                {% endif %}
                            {% endfor %}
                        </form>  
                    </div>
                    <div class="mt-3 px-3 d-flex justify-content-end">
                        <button type="submit" form= "resetPassword" class="mt-3 mb-2 btn btn-outline-warning"><i class="bi bi-key-fill"></i> Cambio Contraseña</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}