<form id="editarTablonForm" method="post" action="{% url 'administracion:editar_tablon' tablon.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Cancelar</button>
        <button type="submit" form= "editarTablonForm" class="btn btn-outline-warning"><i class="bi bi-database-fill-add"></i> Actualizar</button>
    </div>
</form>