{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}
    
    <!-- Breadcrumb -->
    <!-- Colocado dentro del container, debajo de la nav y antes del H1 -->
    <nav class="mt-5" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';"> <!-- Opcional: Cambia el separador -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <!-- Puedes añadir más niveles si es necesario -->
            <li class="breadcrumb-item active text-warning" aria-current="page">Actividades</li>
        </ol>
    </nav>
    <!-- Fin Breadcrumb -->

    <!-- Título Principal -->
    <h1 class="text-center mb-5 color-texto">Actividades</h1>

    <div class="container col-md-4 justify-content-center mt-5">
        <div class="row">
            <div class="btn-group btn-group-lg" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalActividadNueva">
                    <i class="bi bi-database-add"></i> Actividad Nueva</button>
            </div>
        </div>  
    </div>

    {% if actividades %}
      <div class="row row-cols-1 mt-5">
        {% for actividad in actividades %}
        <div class="card mt-3">
          <div class="card-header">
            <h4 class="color-texto"><i class="bi bi-card-text"></i> 
                {{ actividad.titulo }}
            </h4>
        </div>
        <div class="card-body">
            <p><i class="bi bi-calendar3"></i> {{ actividad.fecha }}</p>
            <p class="card-text">{{ actividad.descripcion }}</p>
            <div class="text-end">
                <form method="post" action="#" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="actividad" value="{{ actividad.id }}">
                    <button type="submit" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"></i> Editar</button>
                </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Modal Alta de cursillo nuevo -->
    <div class="modal fade" id="modalActividadNueva" tabindex="-1" aria-labelledby="modalActividadNuevaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalActividadNuevaLabel">Creación de una Actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation"action="{% url "administracion:actividades" %}" method='post' enctype="multipart/form-data" id="actividadNueva" novalidate>
                        {% csrf_token %}
                        {{ form }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" form= "actividadNueva" class="btn btn-outline-warning">Crear Actividad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}