{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}
    
    <!-- Breadcrumb -->
    <!-- Colocado dentro del container, debajo de la nav y antes del H1 -->
    <nav class="mt-5" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';"> <!-- Opcional: Cambia el separador -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <!-- Puedes añadir más niveles si es necesario -->
            <li class="breadcrumb-item active text-warning" aria-current="page">Actividades</li>
        </ol>
    </nav>
    <!-- Fin Breadcrumb -->

    <!-- Título Principal -->
    <h1 class="text-center mb-5 color-texto">Actividades</h1>

    <div class="container col-md-4 justify-content-center mt-5">
        <div class="row">
            <div class="btn-group btn-group-lg" role="group" aria-label="Default button group">
                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalActividadNueva">
                    <i class="bi bi-database-add"></i> Actividad Nueva</button>
            </div>
        </div>  
    </div>

    {% if actividades %}
      <div class="row row-cols-1 mt-5">
        {% for actividad in actividades %}
        <div class="card mt-3">
          <div class="card-header">
            <h4 class="color-texto"><i class="bi bi-card-text"></i> 
                {{ actividad.titulo }}
            </h4>
        </div>
        <div class="card-body">
            <p><i class="bi bi-calendar3"></i> {{ actividad.fecha }}</p>
            <p class="card-text">{{ actividad.descripcion }}</p>
            <div class="text-end">    
                <form method="post" action="#" style="display: inline;" id="formActividad">
                    {% csrf_token %}
                    <input type="hidden" name="actividad" value="{{ actividad.id }}">
                    <button type="submit" class="btn btn-primary btn-sm" enviarFormulario="#"><i class="bi bi-pencil-fill"></i> Editar</button>
                    <button type="submit" class="btn btn-danger btn-sm" enviarFormulario="#"><i class="bi bi-trash-fill"></i> Eliminar</button>
                </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Modal Alta de actividad nuevo -->
    <div class="modal fade" id="modalActividadNueva" tabindex="-1" aria-labelledby="modalActividadNuevaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 color-texto" id="modalActividadNuevaLabel">Creación de una Actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" action="{% url "administracion:actividades" %}" method='post' enctype="multipart/form-data" id="actividadNueva" novalidate>
                        {% csrf_token %}
                        <div class="row input-group">
                            <div class="col mb3">
                                {{ form.tipo.label}}
                                {{ form.tipo }}
                                <div class="invalid-feedback">
                                    Este campo no puede estar vacío, introduzca el típo de actividad.
                                </div>
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col mb3">
                                {{ form.titulo.label}}
                                {{ form.titulo }}
                                <div class="invalid-feedback">
                                    Este campo no puede estar vacío, introduzca un nombre para la actividad.
                                </div>
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col mb3">
                                {{ form.descripcion.label}}
                                {{ form.descripcion }}
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col mb-3">
                                {{ form.fecha.label}}
                                {{ form.fecha }}
                                <div class="invalid-feedback">
                                    Este campo no puede estar vacío, introduzca la fecha.
                                </div>
                            </div>
                            <div class="col mb-3">
                                {{ form.lugar.label }}
                                {{ form.lugar }}
                                <div class="invalid-feedback">
                                    Este campo no puede estar vacío, introduzca el lugar dónde se desarrollará.
                                </div>
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col mb-3">
                                {{ form.ciudad.label}}
                                {{ form.ciudad }}
                                <div class="invalid-feedback">
                                    Este campo no puede estar vacío, introduzca la ciudad.
                                </div>
                            </div>
                            <div class="col mb-3">
                                {{ form.pais.label }}
                                {{ form.pais }}
                            </div>  

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Cancelar</button>
                            <button type="submit" form= "actividadNueva" class="btn btn-outline-warning"><i class="bi bi-database-fill-add"></i> Crear Actividad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}

{% block script_js %}
<script>
    // Validación del formulario Nuevo curso
    (function () {
        'use strict'
      
        // Obtén todos los formularios a los que quieres aplicar estilos de validación de Bootstrap personalizados
        var forms = document.querySelectorAll('.needs-validation')
      
        // Bucle sobre ellos y evita el envío
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
      
              form.classList.add('was-validated')
            }, false)
          })
      })()

      // Selección de editar o eliminar por actividad
    function enviarFormulario(action) {
        document.getElementById('formActividad').action = action;
        document.getElementById('formActividad').submit();
    }

</script>
{% endblock script_js %}