{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}
      <!-- Breadcrumb -->
      <nav class="mt-5" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item active text-warning" aria-current="page">Cintos Negros</li>
         </ol>
      </nav>
      <!-- Fin Breadcrumb -->

        <!-- Título Principal -->
        <h1 class="text-center mb-5 mt-5 color-texto">Cintos Negros {{ grado }}º DAN</h1>

        <div class="col">
            <div class="row">
              <h2 class="text-center color-texto">Total: <strong>{{ cantidad }}</strong></h2>
            </div>
        </div>
        <!-- Contenedor para el gráfico de barras -->
        <div class="container">
            <div class="d-none d-md-block">
                <canvas id="graficoDanes" width="300" height="150"></canvas>
            </div>
        </div>
        <!-- Formulario de selección de DAN y búsqueda -->
        <div class="container col-md-6 justify-content-center mt-5">
          <div class="row">
            <label class="form-label" for="gradoSelect">Seleccionar grado </label>
            <select name="grado" id="gradoSelect" class="fornm-select form-select-lg mb-3">
                        
              {% for g in grados_posibles %}
                <option value="{{ g }}" {% if g == grado %}selected{% endif %}>
                  {{ g }}º DAN
                </option>
              {% endfor %}           
            </select>
          </div>
          
          {% comment %} <div class="row">
          
              {# --- Formulario de Búsqueda --- #}
              <div>
                  <form action="#" method="post" style="display: inline-flex; align-items: center; gap: 5px;">
                      {% csrf_token %} {# ¡Importante para POST! #}
                      <label for="searchTermInput">Buscar Alumno:</label>
                      <input type="text" id="searchTermInput" name="search_term" placeholder="Nombre o Apellidos..." required>
                      <button type="submit">Buscar</button>
                  </form>
              </div>
          </div> {% endcomment %}
        </div>
        
      </div>

      {% if alumnos %}
        <div class="col mt-5">
            <div class="row">
              <table id="tbalumno" class="table table-striped display">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Gimnasio</th>
                    <th>Activo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for alm in alumnos %}
                    <tr>
                      <td><a href="{% url 'administracion:alumno_detalle' pk=alm.id %}">{{ alm.apellidos }}, {{ alm.nombre }}</a></td>
                      <td>{{ alm.dojo }}</td>
                      <td>
                        {% if alm.activo %}
                          <i class="bi bi-check-circle-fill text-success"></i>
                        {% endif %}
                      </td>
                    </tr>		
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      {% endif %}
      
{% endblock container %}

{% block script_js %}
        <script>
          // Script para la selección de grado
          document.getElementById('gradoSelect').addEventListener('change', function() {
            const selectedGrado = this.value;
            const baseUrl = "{% url 'administracion:alumnos_grado' 0 %}";
            const newUrl = baseUrl.replace('/0/', '/' + selectedGrado + '/');
            window.location.href = newUrl;
          });


          // Script para la generacion del gráfico de barras
            const data = JSON.parse('{{ data_json|safe }}'); // Obtener los datos como objeto JavaScript

            const ctx = document.getElementById('graficoDanes').getContext('2d');
            const config = {
                type: 'bar',
                data: {
                    datasets: [{
                        label: 'DAN',
                        data: data.values,      
                        borderWidth: 2,
                        borderRadius: 10,
                        backgroundColor: [
                            'rgba(255, 255, 255, 0.6)',
                            'rgba(255, 255, 0, 0.6)',
                            'rgba(255, 165, 0, 0.6)',
                            'rgba(0, 128, 0, 0.6)',
                            'rgba(0, 0, 255, 0.6)',
                            'rgba(165, 42, 42, 0.6)',
                            'rgba(128, 0, 128, 0.6)',
                            'rgba(255, 0, 0, 0.6)',
                            'rgba(128, 128, 128, 0.6)',
                            'rgba(128, 128, 128, 0.6)',
                        ],
                        borderColor: [
                            'rgba(255, 255, 255)',
                            'rgba(255, 255, 0)',
                            'rgba(255, 165, 0)',
                            'rgba(0, 128, 0)',
                            'rgba(0, 0, 255)',
                            'rgba(165, 42, 42)',
                            'rgba(128, 0, 128)',
                            'rgba(255, 0, 0)',
                            'rgba(128, 128, 128)',
                            'rgba(128, 128, 128)',
                        ],
                    }],
                    labels: ['1º DAN', '2º DAN', '3º DAN', '4º DAN','5º DAN','6º DAN','7º DAN','8º DAN','9º DAN', '10º DAN'],
                },
                options: {
                    responsive: true,
                    indexAxis: 'x',
                    plugins: {
                        title: {
                            display: true,
                            font: {
                                size: 26,
                            },
                            text: data.titulo,
                        },
                        legend: {
                          display: false // Esto oculta la leyenda completamente
                        },
                    },
                },
            };

            const myChart = new Chart(ctx, config);

            //new DataTable('#tbalumno');
            $('#tbalumno').DataTable({
                "pageLength": 25,
                "responsive": true,
                "language": {
                    search: "Buscar en la tabla ",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                    infoFiltered: "(filtrado de _MAX_ registros totales)",
                    lengthMenu: "Mostrar _MENU_ registros",
                    zeroRecords: "No se encontraron registros",
                    paginate: {
                        first: "Primera",
                        last: "Última",
                        next: "Siguiente",
                        previous: "Anterior"
                    },
                }
            });

            
        </script>
{% endblock script_js %}

    
