{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}

        <!-- Breadcrumb -->
        <!-- Colocado dentro del container, debajo de la nav y antes del H1 -->
        <nav class="mt-5" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';"> <!-- Opcional: Cambia el separador -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                <!-- Puedes añadir más niveles si es necesario -->
                <li class="breadcrumb-item active text-warning" aria-current="page">Correo</li>
            </ol>
        </nav>
        <!-- Fin Breadcrumb -->

        <!-- Título Principal -->
        <h1 class="text-center mb-5 color-texto">Correo</h1>
        {% if instructores %}
        <h2>Lista de instructores</h2>
        <table>
            {% for instructor in instructores %}
            <tr>
                <td>{{ instructor.nombre }}, {{ instructor.apellidos }} </td>
                <td>{{ instructor.usuario.email }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        


{% endblock container %}