{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}
    
    <!-- Breadcrumb -->
    <!-- Colocado dentro del container, debajo de la nav y antes del H1 -->
    <nav class="mt-5" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';"> <!-- Opcional: Cambia el separador -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <!-- Puedes añadir más niveles si es necesario -->
            <li class="breadcrumb-item active text-warning" aria-current="page">Cursillos</li>
        </ol>
    </nav>
    <!-- Fin Breadcrumb -->

    <!-- Título Principal -->
    <h1 class="text-center mb-5 color-texto">Cursillos</h1>

    <div class="col">
        <div class="row">
            <h2 class="text-center color-texto">Total: <strong>{{ cantidad }}</strong></h2>
        </div>
    </div>

    {% if user.is_staff or user.is_superuser %}
        <!-- Seccion de botones para creación de cursillonuevo-->
        <div class="container col-md-4 justify-content-center mt-5">
            <div class="row">
                <div class="btn-group btn-group-lg" role="group" aria-label="Default button group">
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalCursoNuevo">
                        <i class="bi bi-people-fill"></i> Curso Nuevo</button>
                </div>
            </div>  
        </div>
        <!-- Fin de sección de botones -->
    {% endif %}
    <h2>Fechas: {{ curso.fecha }} - {{ hoy }}</h2>
    {% if cursillos %}
        <div class="col mt-5">
            <div class="row">
              <table id="tbcursillo" class="table table-striped display">
                <thead>
                  <tr>
                        <th>Evento</th>
                        <th>Fecha</th>
                        <th>Ciudad</th>
                        <th>País</th>
                        <th>Internacional</th>
                        <th>Exámenes</th>
                  </tr>
                </thead>
                <tbody>
                    {% for cursillo in cursillos %}
                        {% if curso.fecha > hoy %}
                            <tr class="table-success">
                        {% else %}
                            <tr>
                        {% endif %} 
                        <td><a href="{% url 'administracion:cursillo_detalle' pk=cursillo.id %}">{{ cursillo.evento }}</a></td>
                        <td>{{ cursillo.fecha }}</td>
                        <td>{{ cursillo.ciudad }}</td>
                        <td>{{ cursillo.pais }}</td>
                        <td>
                            {% if cursillo.internacional %}
                                <i class="bi bi-check-circle-fill text-warning"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if cursillo.examenes %}
                                <i class="bi bi-check-circle-fill text-success"></i>
                            {% endif %}
                        </td>
                    </tr>		
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      {% endif %}

      <!-- Modal Alta de cursillo nuevo -->
    <div class="modal fade" id="modalCursoNuevo" tabindex="-1" aria-labelledby="modalCursoNuevoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCursoNuevoLabel">Creación de un Curso Nuevo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url "administracion:curso_nuevo" %}" method='post' id="cursoNuevo">
                        {% csrf_token %}
                        <div class="row input-group">
                            <div class="col mb-3">
                                <label class="form-label" for="evento">Evento</label>
                                <input type="text" class="form-control pe-2" id="evento" name="evento" placeholder="Nombre evento">
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col mb-3">
                                <label class="form-label" for="lugar">Lugar</label>
                                <input type="text" class="form-control" id="lugar" name="lugar" placeholder="Lugar">
                            </div>
                            <div class="col mb-3">
                                <label class="form-label" for="fecha">Fecha</label>
                                <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha">
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col mb-3">
                                <label class="form-label" for="pais">País</label>
                                <input type="text" class="form-control" id="pais" name="pais" placeholder="País">
                            </div>
                            <div class="col mb-3">
                                <label class="form-label" for="evento">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col ms-2 mb-3 form-check form-switch">
                                <label class="form-check-label" for="switchInternacional">Curso internacional</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="switchInternacional">
                            </div>
                            <div class="col mb-3 form-check form-switch">
                                <label class="form-check-label" for="switchExamenes">Exámenes</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="switchExamenes">
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" form= "cursoNuevo" class="btn btn-primary">Crear curso</button>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}

{% block script_js %}
<script>
    //new DataTable('#tbalumno');
    $('#tbcursillo').DataTable({
        "pageLength": 25,
        "responsive": true,
        "ordering": false,
        "language": {
            search: "Buscar en la tabla ",
            info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
            infoEmpty: "Mostrando 0 a 0 de 0 registros",
            infoFiltered: "(filtrado de _MAX_ registros totales)",
            lengthMenu: "Mostrar _MENU_ registros",
            zeroRecords: "No se encontraron registros",
            paginate: {
                first: "Primera",
                last: "Última",
                next: "Siguiente",
                previous: "Anterior"
            },
        }
    });
</script>
{% endblock script_js %}