{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}

        <!-- Breadcrumb -->
        <!-- Colocado dentro del container, debajo de la nav y antes del H1 -->
        <nav class="mt-5" aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';"> <!-- Opcional: Cambia el separador -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'administracion:cursillos' %}">Cursillo</a></li>
                <li class="breadcrumb-item active text-warning" aria-current="page">Detalle Cursillo</li>
            </ol>
        </nav>
        <!-- Fin Breadcrumb -->

        <!-- Título Principal -->
        <h1 class="text-center mb-5 color-texto">Detalle Cursillo</h1>

        <div class="row row-cols-1 mt-5">
            <div class="card mt-3">
                <div class="card-header">
                  {% if cursillo.internacional %}Internacional{% else %}Nacional{% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title color-texto">{{ cursillo.evento }}</h5>
                    <p class="card-text"><i class="bi bi-calendar3"></i> {{ cursillo.fecha }}</p>
                    {% if cursillo.descripcion != None %}
                        <p class="card-text">{{ cursillo.descripcion }}</p>
                    {% endif %}
                    <p class="card-text">{{ cursillo.lugar }}. {{ cursillo.ciudad }}, {{ cursillo.pais }}</p>
                    {% if cursillo.fecha > hoy %}
                    <div class="d-flex justify-content-end">
                        {% if usuario_es_instructor or user.is_staff or user.is_superuser %}
                            <a href="{% url 'administracion:cursillo_inscripcion_instructor' pk=cursillo.id %}" class="btn btn-outline-warning ms-4"><i class="bi bi-list-ul"></i> Inscripción</a>
                        {% else %}
                            {% if alumno_cursillo_inscrito %}
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalInscripcionAlumno">
                                <i class="bi bi-list-ul"></i> Eliminar</button>
                            {% else %}
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalInscripcionAlumno">
                                <i class="bi bi-list-ul"></i> Inscripción</button>
                            {% endif %}
                        {% endif %}
                        {% if cursillo.circular != '' %}
                            <a href="{% url 'administracion:descargar_circular' pk=cursillo.id %}" class="btn btn-outline-warning ms-4"><i class="bi bi-download"></i> Circular</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Listado de alumnos asistentes -->
        <section class="album py-5">
            <div class="container">
                
                <div class="row row-cols-1">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Asistentes</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'administracion:cursillo_examinados' pk=cursillo.id %}" class="nav-link">Exámen</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'administracion:cursillo_estadisticas' pk=cursillo.id %}" class="nav-link">Estadísticas</a>
                        </li>
                    </ul>
                </div>
        
                <div class="row row-cols-1 mt-5">
        
                    {% if asistentes %}
                        <div class="col mt-5">
                            <div class="row">
                                <table id="tbalumno" class="table table-striped display">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Gimnasio</th>
                                        <th>Grado</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for alm in asistentes %}
                                        <tr>
                                            <td><a href="{% url 'administracion:alumno_detalle' pk=alm.id %}">{{ alm.apellidos }}, {{ alm.nombre }}</a></td>
                                            <td>{{ alm.dojo }}</td>
                                            <td>{{ alm.grado }}</td>
                                        </tr>		
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
        
                </div>    
            </div>
        </section>
        <!-- Fin listado de alumnos asistentes -->

        <!-- Modal Inscripción Alumno -->
        <div class="modal fade" id="modalInscripcionAlumno" tabindex="-1" aria-labelledby="modalInscripcionAlumnoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 color-texto" id="modalInscripcionAlumnoLabel">Inscripcion alumno</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>Te vas a inscribir en el curso</h3>
                        <p>{{ cursillo.descripcion }}</p>
                        <p>De fecha {{ cursillo.fecha|date:"d-m-Y" }}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'administracion:cursillo_inscripcion_instructor' pk=cursillo.id %}" class="btn btn-outline-warning ms-4"><i class="bi bi-list-ul"></i> Inscripción</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modals -->

        {% endblock container %}

{% block script_js %}

<script>
    //new DataTable('#tbalumno');
    $('#tbalumno').DataTable({
        "pageLength": 25,
        "responsive": true,
        "language": {
            search: "Buscar en la tabla ",
            info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
            infoEmpty: "Mostrando 0 a 0 de 0 registros",
            infoFiltered: "(filtrado de _MAX_ registros totales)",
            lengthMenu: "Mostrar _MENU_ registros",
            zeroRecords: "No se encontraron registros",
            paginate: {
                first: "Primera",
                last: "Última",
                next: "Siguiente",
                previous: "Anterior"
            },
        }
    });
</script>


{% endblock script_js %}

