{% load static %}

<section class="mb-5 color-texto">
    <div class="text-center">
        <img class="my-4 img-fluid" src={% static "img/logo.png" %} alt="Logo OGKKE">
    </div>
    <div class="text-center">
        <div class="container py-3">
            <h1>Okinawa Goju-Ryu Karate-Do Kyokai España<h1>
            <h2 class="col-lg-8 mx-auto lead">
                <strong>Sensei Ryoichi Onaga</strong>, Hanshi 10º Dan. 
                <br>
                <strong>Sensei Toshiro Fujioka</strong>, Hanshi 9º Dan. Director Técnico OGKKE
            </h2>
        </div>
    </div>
</section>