{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}

    {% include "administracion/hero.html" %}

    <section class="album py-5">
        <div class="container">
            
            <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3">
                <article class="col">
                    <div class="card shadow-sm color-background">
                        <img src="{% static "img/dojos.jpg" %}" class="card-img-top img-fluid" alt="Dojos">
                        <div class="m-3">
                            <h3 class="card-title"><i class="bi bi-houses"></i> Dojos <span class="badge text-bg-tertiary fs-3">{{ dojos }}</span></h3>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-start mb-2">
                                <p>Número de Dojos asociados</p>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="btn-group mt-auto w-100">
                                    <a href="{% url 'administracion:dojos' %}" class="btn btn-outline-warning"><i class="bi bi-arrow-up-right-circle"></i> Ver todos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col">
                    <div class="card shadow-sm color-background">
                        <img src="{% static "img/cn.jpg" %}" class="card-img-top img-fluid" alt="DojosCintos negros">
                        <div class="m-3">
                            <h3 class="card-title"><i class="bi bi-person"></i> Cintos Negros <span class="badge text-bg-tertiary fs-3">{{ cn }}</span></h3>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-start mb-2">
                                <p>Número de Cintos Negros registrados</p>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="btn-group mt-auto w-100">
                                    <a href="{% url 'administracion:alumnos' %}" class="btn btn-outline-warning"><i class="bi bi-arrow-up-right-circle"></i> Ver todos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col">
                    <div class="card shadow-sm color-background">
                        <img src="{% static "img/gassukus.jpg" %}" class="card-img-top img-fluid" alt="Gasshukus">
                        <div class="m-3">
                            <h3 class="card-title"><i class="bi bi-people"></i> Gasshukus <span class="badge text-bg-tertiary fs-3">{{ cursos }}</span></h3>
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-start mb-2">
                                <p>Número de seminarios realizados</p>
                            </div>
                            <div class="d-flex justify-content-end align-items-center">
                                <div class="btn-group mt-auto w-100">
                                    <a href="{% url 'administracion:cursillos' %}" class="btn btn-outline-warning"><i class="bi bi-arrow-up-right-circle"></i> Ver todos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="album py-5">
        <div class="container">
            
            <div class="row row-cols-1">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">Actividades</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Tablón Anuncios</a>
                    </li>
                </ul>
            </div>
            <div class="row row-cols-1 mt-3">
                {% if tablon %}
                    <div class="row row-cols-1 mt-5">
                        <h3 class="mb-3">Dojo: {{ dojo_usuario }}</h3>
                        {% for tab in tablon %}
                        <div class="card mt-3">
                            <div class="card-header">
                                <h4 class="color-texto"><i class="bi bi-card-text"></i> 
                                {{ tab.titulo }} 
                                </h4>
                            </div>
                            <div class="card-body">
                                <p><i class="bi bi-calendar3"></i> {{ tab.fecha }}</p>
                                <p class="card-text">{{ tab.descripcion }}</p>
                                {% if usuario_es_instructor or user.is_staff or user.is_superuser %}
                                    <div class="text-end">
                                        <a href="#" class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil-fill"></i> Editar</a>
                                        <a href="{% url 'administracion:eliminar_tablon' pk=tab.id %}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash-fill"></i> Eliminar</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>
    </section>

    {% endblock container %}


    