{% extends "base.html" %}
{% load static %}

{% block container %}
    
    {% include "administracion/header.html" %}

    <main class="mb-5 mt-5">
        <div class="mb-5 color-texto">
            <div class="text-center">
                <img class="my-4 img-fluid" src={% static "img/logo.png" %} alt="Logo OGKKE">
            </div>
            <div class="text-center">
                <div class="container py-3">
                    <h1>Okinawa Goju-Ryu Karate-Do Kyokai España<h1>
                    <h2 class="col-lg-8 mx-auto lead">
                        Sensei Ryoichi Onaga, Hanshi 10º Dan. Director Técnico OGKKE
                    </h2>
                </div>
            </div>
        </div>

        <section class="album py-5">
            <div class="container">
                
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3">
                    <article class="col">
                        <div class="card shadow-sm">
                            <img src="{% static "img/dojos.jpg" %}" class="card-img-top img-fluid" alt="Dojos">
                            <div class="m-3">
                                <h3 class="card-title"><i class="bi bi-houses"></i> Dojos <span class="badge text-bg-dark fs-3">{{ dojos }}</span></h3>
                            </div>
    
                            <div class="card-body">
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'administracion:dojos' %}" class="btn btn-primary"><i class="bi bi-arrow-up-right-circle"></i> Ver todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col">
                        <div class="card shadow-sm">
                            <img src="{% static "img/cn.jpg" %}" class="card-img-top img-fluid" alt="DojosCintos negros">
                            <div class="m-3">
                                <h3 class="card-title"><i class="bi bi-people"></i> Cintos Negros <span class="badge text-bg-dark fs-3">{{ cn }}</span></h3>
                            </div>
    
                            <div class="card-body">
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'administracion:alumnos' %}" class="btn btn-primary"><i class="bi bi-arrow-up-right-circle"></i> Ver todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="col">
                        <div class="card shadow-sm">
                            <img src="{% static "img/gassukus.jpg" %}" class="card-img-top img-fluid" alt="Gasshukus">
                            <div class="m-3">
                                <h3 class="card-title"><i class="bi bi-share"></i> Gasshukus <span class="badge text-bg-dark fs-3">{{ cursos }}</span></h3>
                            </div>
    
                            <div class="card-body">
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'administracion:cursillos' %}" class="btn btn-primary"><i class="bi bi-arrow-up-right-circle"></i> Ver todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    {% comment %} <article class="col">
                        <div class="card shadow-sm">
                            <img src="{% static "img/peticiones.jpg" %}" class="card-img-top img-fluid" alt="Peticiones">
                            <div class="m-3">
                                <h3 class="card-title">Peticiones <span class="badge text-bg-dark fs-3">{{ peticiones }}</span></h3>
                            </div>
    
                            <div class="card-body">
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Acceder</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article> {% endcomment %}

                </div>
            </div>
        </section>

        <section class="album py-5">
            <div class="container">
                
                <div class="row row-cols-1">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Tablón Anuncios Gimnasio</a>
                        </li>
                    </ul>
                </div>
                <div class="row row-cols-1 mt-5">
                    <h4>Actividades</h4>
                    <div class="card mt-3">
                        <div class="card-header">
                          Campeonato
                        </div>
                        <div class="card-body">
                            <h5 class="card-title color-texto">40 TROFEO NACIONAL OGKKE</h5>
                            <p class="card-text">29/03/2025.</p>
                            <p class="card-text">Polideportivo Municipal</p>
                            <p class="card-text">Las Torres de Cotillas</p>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header">
                          Entrenamiento
                        </div>
                        <div class="card-body">
                            <h5 class="card-title color-texto">XVIII ENTRENAMIENTO ANUAL KARATE OGKKE VILLAJOYOSA</h5>
                            <p class="card-text">29/03/2025.</p>
                            <p class="card-text">IES La Malladeta</p>
                            <p class="card-text">La Vila</p>
                        </div>
                    </div>

                </div>


            </div>
        </section>

    </main>

    {% endblock container %}
