{% extends "base.html" %}
{% load static %}

{% block container %}

<main class="mb-5 mt-5">
    <div class="mb-5 color-texto">
        <div class="text-center">
            <img class="my-4 img-fluid" src={% static "img/logo.png" %} alt="Logo OGKKE">
        </div>
        <div class="text-center">
            <div class="container py-3">
                <h1>Okinawa Goju-Ryu Karate-Do Kyokai España<h1>
                <h2 class="col-lg-8 mx-auto lead">
                    Sensei Ryoichi Onaga, Hanshi 10º Dan. Director Técnico OGKKE
                </h2>
            </div>
        </div>
    </div>

    <section class="py-5">
        <div class="container">
            <h3>Registro de usuarios</h3>
        </div>
    </section>

